extends layout

block content

  head
    link(rel='stylesheet', href='/stylesheets/index-style.css')

  body
  script(src="https://accounts.google.com/gsi/client" async defer)
  
  
  .content
    h1 MyRecipes
    div(
      id="g_id_onload"
      data-client_id="568232610264-ehpmqcucb6midct4bn9le1vk4h626bf6.apps.googleusercontent.com"
      data-context="signin"
      data-ux_mode="popup"
      data-callback="handleCredentialResponse"
      data-auto_prompt="false") 

    div(
      class="g_id_signin"
      data-type="standard"
      data-size="large"
      data-theme="outline"
      data-text="sign_in_with"
      data-shape="rectangular"
      data-logo_alignment="left"
      data-width=400
    )

  script.
    function handleCredentialResponse(response) {
      var id_token = response.credential;

      var xhr = new XMLHttpRequest();
        xhr.open('POST', '/login');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function() {
            console.log('Signed in as: ' + xhr.responseText);
            if(xhr.responseText == 'success'){
                location.assign('/home')
            }
        };
        xhr.send(JSON.stringify({token : id_token}));
    }