extends layout

block content

  head
    link(rel='stylesheet', href='/stylesheets/index-style.css')

  body
    script(src="https://accounts.google.com/gsi/client" async defer)

    .slideshow-container
      .mySlides.fade 
        .textover
          html
            .content
              h1 MyRecipes
              br
              div(
                id="g_id_onload"
                data-client_id="568232610264-cd4mdts6cc7160ollui9efmk0dpihcjo.apps.googleusercontent.com"
                data-context="signin"
                data-ux_mode="popup"
                data-callback="handleCredentialResponse"
                data-auto_prompt="false") 

              div(
                class="g_id_signin"
                data-type="standard"
                data-size="large"
                data-theme="outline"
                data-text="sign_in_with"
                data-shape="rectangular"
                data-logo_alignment="left"
                data-width=400
              )
        img(src='images/img1.jpg' style='width:100%;height:1076px;')
      .mySlides.fade
        .textover
          html
            .content2
              h1 What is our purpose?
              br
              p Our purpose is to provide customers with a service, our service allows customers to easily keep track, create and share their own recipes. Share with your friends, family or colleagues

        img(src='images/img2.jpg' style='width:100%;height:1076px;')
      a.prev(onclick='plusSlides(-1)') &#x276E;
      a.next(onclick='plusSlides(1)') &#x276F;
    div(style='text-align:center')
      span.dot(onclick='currentSlide(1)')
      span.dot(onclick='currentSlide(2)')

    script.
          var slideIndex = 1;
          showSlides(slideIndex);
          function plusSlides(n) {
            showSlides(slideIndex += n);
          }
          function currentSlide(n) {
            showSlides(slideIndex = n);
          }
          function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) {slideIndex = 1}
            if (n < 1) {slideIndex = slides.length}
            for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " active";
          }

    script.
      function handleCredentialResponse(response) {
        var id_token = response.credential;

        var xhr = new XMLHttpRequest();
          xhr.open('POST', '/login');
          xhr.setRequestHeader('Content-Type', 'application/json');
          xhr.onload = function() {
              console.log('Signed in as: ' + xhr.responseText);
              if(xhr.responseText == 'success'){
                  location.assign('/home')
              }
          };
          xhr.send(JSON.stringify({token : id_token}));
      }