extends layout

block content
  include header.pug

  body 
    // You can see the use of a variable below with the title
    // This is inherited from /routes/index.js where you can pass these in
    //- h1= title
    //- p Welcome to the site: #{title} 
      body
    main#main
    h1.ui.center.aligned.header All Recipes
    .ui.container
      table.ui.celled.table.center.aligned
        thead
          tr
            th ID
            th Title
            th Description
            th Link/Photo
            th Comments
        tbody
          //- each employee in employees **later load the data from database
          //-   tr
          //-     td
          //-       img.ui.mini.rounded.image(src=employee.picture.thumbnail)
          //-     td #{employee.name.first}
          //-     td #{employee.name.last}
          //-     td #{employee.email}
          //-     td #{employee.phone}
          //-     td #{employee.location.city}
          tr
            td 1
            td Testing title
            td Here is the testing
            td None
            td Testing
        tfoot
          tr
            th(colspan='6')
