extends layout

block content
    head 
        link(rel='stylesheet', href='/stylesheets/recipe-style.css')
    include header.pug

    if recipe == null
        h1 RECIPE ID NOT FOUND (RECIPE NULL).
    body 
        .outerwrapper 
            .leftwrapper 
                .recipetitle 
                    h1 #{recipe.Title}

                .recipelabel
                    h2 Labels
                    h4 #{recipe.Label1}
                    h4 #{recipe.Label2}
                    h4 #{recipe.Label3}

                .recipedescription 
                    h2 About
                    p #{recipe.Description}

                .recipeingredients 
                    h2 Ingredients

                    each ingredient in recipe.Ingredients
                        li #{ingredient}

                .recipemethod 
                    h2 Method
                    p #{recipe.Method}

            .rightwrapper 
                .recipeheader 
                    //This is an empty string. Not great but the easiest way to get the two 
                    //columns to line up :)
                    h1 ‎‎‎‎‏‏‎ ‎‏‏‎
