extends layout

block content
  include header.pug
  head
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css')
    script. 
      function CancalButton(id) {
        //alert("'" + id + "/home'");
        location.href = "./recipe" + id + "";
      }
    style.
        input[type=submit] {
        margin-top : 25px;
        margin: -20px -50px; 
        position:relative;
        top:50%; 
        left:30%;
        outline:none;
        height: 40px;
        text-align: center;
        width: 130px;
        border-radius:40px;
        background: #fff;
        border: 2px solid $green;
        color:$green;
        letter-spacing:1px;
        text-shadow:0;
        font:{
            size:12px;
            weight:bold;
        }
        cursor: pointer;
        transition: all 0.25s ease;
        &:hover {
            color:white;
            background: $green;
        }
        &:active {
            letter-spacing: 2px ;
        }
        &:after {
            content:"SUBMIT";
        }
        }

        button[type=button] {
        margin-top : 25px;
        margin: -20px -50px; 
        position:relative;
        top:50%; 
        left:50%;
        outline:none;
        height: 40px;
        text-align: center;
        width: 130px;
        border-radius:40px;
        background: #fff;
        border: 2px solid $green;
        color:$green;
        letter-spacing:1px;
        text-shadow:0;
        font:{
            size:12px;
            weight:bold;
        }
        cursor: pointer;
        transition: all 0.25s ease;
        &:hover {
            color:white;
            background: $green;
        }
        &:active {
            letter-spacing: 2px ;
        }
        &:after {
            content:"CANCEL";
        }
        }        
  body 
    // You can see the use of a variable below with the title
    // This is inherited from /routes/index.js where you can pass these in
    .modal-dialog
        .modal-content
          // Modal Header
          .modal-header
            h4#myModalLabel.modal-title
              | Update Recipes
          // Modal Body
          .modal-body
            form(role='form' method='post' action='/updateRecipes/'+recipe.id)
              div.form-group
                label(for='Title') Title:
                input#name.form-control(type='text', placeholder='Title' name='Title' value=recipe.Title required)    
              div.form-group
                label(for='Description') About:
                input#email.form-control(type='text', placeholder='Description' name='Description' value=recipe.Description required)
              div.form-group
                label(for='Ingredients') Ingredients:
                - var IngredientsStr = String(recipe.Ingredients);
                input#email.form-control(type='text', placeholder='Ingredients' name='Ingredients' value=IngredientsStr)
              div.form-group
                label(for='Method') Method:
                input#email.form-control(type='text', placeholder='Method' name='Method' value=recipe.Method)  
              div.form-group
                label(for='Label1') Label1:
                input#name.form-control(type='text', placeholder='Label1' name='Label1' value=recipe.Label1) 
              div.form-group
                label(for='Label1') Label2:
                input#name.form-control(type='text', placeholder='Label2' name='Label2' value=recipe.Label2) 
              div.form-group
                label(for='Label1') Label3:
                input#name.form-control(type='text', placeholder='Label3' name='Label3' value=recipe.Label3)    
                br 
                input(value='Submit', type='submit')
                button(value='Cancel', type='button' onclick="CancalButton('" + recipe.id + "')") Cancel